@import "../../../assets/styles/responsive";

@media screen and (min-width: $ipad) {
  .Sidebar {
    display: block;
    width: 300px;
  }
}

@media screen and (max-width: $ipad) {
  .Sidebar {
    display: none;
    width: 30rem;
  }
}

.Sidebar {
  & > * {
    margin-bottom: 2rem;
  }
  .related{
    line-height: 200%;
  }
  .related:hover{
    color: skyblue;
  }
  .extra{
    display: inline-block;
  }
  .like{
    color:#8a919f;
    float: left;
  }
  .comment{
    color: #8a919f;
    float: left;
  }
}
