@import "../../../assets/styles/responsive";

@media screen and (min-width: $ipad) {
  .Sidebar {
    display: block;
    width: 300px;
    margin-top: 65px;
  }
}

@media screen and (max-width: $ipad) {
  .Sidebar {
    display: none;
    width: 30rem;
  }
}

.Sidebar {
  background-color: #eeeeee;

  & > * {
    margin-bottom: 2rem;
  }
}

