.Author {
  display: flex;
  align-content: center;
  height: 48px;

  .avatar {
    margin-right: 12px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    flex-shrink: 0;
    user-select: none;
    -webkit-user-drag: none;
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .name {
      margin: 0;
      font-size: 16px;
      font-weight: 500;
      color: var(--secondary-color);
      line-height: 24px;
    }

    .meta {
      font-size: 12px;
      color: #8a919f;
      margin-top: 2px;
      line-height: 22px;
      letter-spacing: 1px;
    }
  }
}
