.tag {
  margin-top: 28px;

  .category {
    display: inline-block;
    cursor: pointer;
    color: var(--category-color);
    font-size: 1rem;
    width: auto;
    height: auto;
    line-height: 32px;
    padding: 0 10px 0 10px;
    background: var(--category-background);
    border-radius: 5px;
    margin: 0 2.67rem 0 8px;
  }

  .tagName {
    display: inline-block;
    cursor: pointer;
    color: var(--tag-color);
    font-size: 14px;
    margin: 0 8px;
    width: auto;
    height: auto;
    line-height: 32px;
    padding: 0 10px 0 10px;
    background: var(--tag-background);
    border-radius: 5px;
  }
}

