.wrapper{
  width: 800px;
  //background-color: #64FF00;
  height: 100vh;
  .nav{
    padding: 10px 18px 10px 22px;
    border-bottom: 0.5px solid #909090;
    box-sizing: border-box;
    .font{
      color: #909090;
      margin-right: 20px;
      cursor: pointer;
    }
    .font:hover{
      color: #007fff;
    }
    .fontChecked{
      color: #007fff;
      margin-right: 20px;
    }
    .icon{
      font-weight: 200;
      color: #909090;
      margin-right: 20px;
    }
  }
  .content{
    padding: 25px;
    border-bottom: 0.5px solid #909090;
    //background-color: #bfa;
    .head{
      .font{
        font-size: 12px;
        font-weight: 300;
        margin-right: 10px;
      }
      .icon{
        font-size: 12px;
        font-weight: 300;
        margin-right: 10px;
      }
    }
    .introduce{
      display: flex;
      justify-content: space-between;
      .fonts{
        .title{
          height: 50px;
          line-height: 50px;
          font-weight: 700;
        }
        .font{
          font-size: 12px;
        }
        .icon{
          margin-top: 10px;
          span{
            margin-right: 15px;
          }
        }
      }
      .imgContainer{
        padding-top: 17px;
        height: 80px;
        width: 120px;
        //background-color: #64FF00;
        img{
          height: 80px;
          width: 150px;
        }
      }
    }
  }
}