.Home {
  width: 100vw;
  background-color: #f4f5f5;

  .header {
    height: 105px;
    margin-bottom: 16px;
  }

  .content {
    width: 960px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

    .post_list {
      width: 700px;
      background-color: #ffffff;
      overflow: hidden;
    }

    .aside {
      width: 240px;
    }
  }
}
