.Home {
  width: 100vw;

  .content {
    width: 960px;
    display: flex;
    justify-content: space-between;
    margin: 20px auto 0;
    padding-bottom: 40px;

    .post_list {
      width: 700px;
      height: fit-content;
      background-color: var(--secondary-background-color);
      overflow: hidden;
    }

    .aside {
      width: 240px;
    }
  }
}

@media screen and (max-width: 960px) {
  .aside {
    display: none;
  }
}
