@import "../../assets/styles/responsive";

@media screen and (min-width: $pc) {
  .Post {
    width: 100vw;
    min-width: 1320px;

    .main {
      width: 1140px;
    }
  }
}

@media screen and (max-width: $pc) {
  .Post {
    width: 100vw;

    .main {
      width: 100vw;
    }
  }
}

.Post {
  min-height: 100vh;

  .main {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 40px;
    margin: 0 auto;
  }
}
