.author {
  width: 240px;
  position: absolute;
  right: 33rem;
  top: 100rem;
  background-color: #ffffff;
}

.header {
  padding: 1.2rem 1.3rem;
  border-bottom: 1px solid hsla(0, 0%, 59.2%, .1);
  font-size: 1.9rem;
  line-height: 1.29;
  color: #333;
}

.user_list {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 2px;
}

.user_list:hover {
  background-color: #f2f3f5;
}

.avatar {
  padding: 1rem 1.3rem;
}

.avatar_img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

.rank {
  width: 35px;
  height: 16px;
  vertical-align: bottom;
  margin-left: 4px;
}

.user_name {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.8rem;
  font-weight: 400;
  color: #333;
}

.user_position {
  margin-top: 4px;
  color: #909090;
  font-size: 1rem;
  margin-bottom: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.more {
  color: #007fff;
  padding: 1rem 0;
  text-align: center;
  border-top: 1px solid hsla(0, 0%, 59.2%, .1);
  font-size: 1.9rem;
  cursor: pointer;
}
