.box {
  width: 240px;
}

.box_top {
  cursor: pointer;
  position: relative;
  margin-bottom: 16px;
}

.close_btn {
  position: absolute;
  right: 2%;
  top: 3%;
  opacity: .5;
  display: none;
}

.box_top:hover .close_btn {
  display: block;
}

.close_btn:hover {
  opacity: 1;
}

.label {
  color: #fff;
  //background-color: rgba(0, 0, 0, .2);
  background-color: var(--adve-color);
  border: 1px solid var(--adve-border-color);
  border-radius: 5px;
  position: absolute;
  right: 5%;
  top: 82%;
  padding: 2px 7px;
}

.adve {
  font-size: 7px;
}

.label:hover {
  background-color: rgba(0, 0, 0, .4);
}

.label:hover::before {
  content: '投放 ';
}

.bottom {
  margin-bottom: 16px;
  padding: 15px;
  background-color: var(--secondary-background-color);
  display: flex;
  cursor: pointer;
}

.content_box {
  margin-left: 16px;
}

.headline {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: var(--primary-color);
}

.desc {
  margin-top: 0.5rem;
  font-size: 12px;
  line-height: 20px;
  color: #86909c;
}
