.wrapper {
  width: 100%;
  min-height: 100vh;
  //background-color: #64FF00;

  .nav {
    padding: 14px 18px 14px 24px;
    border-bottom: 1px solid hsla(0,0%,59.2%,.1);
    box-sizing: border-box;

    .font {
      color: #909090;
      font-size: 14px;
      margin-right: 15px;
      cursor: pointer;
    }

    .font:hover {
      color: #007fff;
    }

    .fontChecked {
      font-size: 14px;
      color: #007fff;
      margin-right: 15px;
    }

    .icon {
      font-weight: 200;
      color: hsla(0,0%,59.2%,.2);
      margin-right: 15px;
    }
  }

  .content {
    padding: 13px 20px;
    border-bottom: 1px solid hsla(0,0%,59.2%,.1);
    color:var(--message-notice-color);
    .head {
      .font {
        font-size: 13px;
        font-weight: 300;
        margin-right: 10px;
        color:#86909c;
      }

      .fontau {
        font-size: 13px;
        font-weight: 300;
        margin-right: 10px;
      }

      .icon {
        font-size: 12px;
        font-weight: 300;
        margin-right: 10px;
        color: hsla(0,0%,59.2%,.2);
      }
    }

    .introduce {
      display: flex;
      justify-content: space-between;
      color:var(--message-notice-color);
      .fonts {
        overflow: hidden;
        white-space: nowrap;
        .title {
          height: 50px;
          line-height: 50px;
          font-weight: 700;
          font-size: 15px;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .font {
          font-size: 13px;
          color: #86909c;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .icon {
          margin-top: 10px;
          font-size: 15px;
          color: #9ca1a9;
          span {
            margin-right: 10px;
          }
        }

        .view{
          color: var(--view-color);
        }
        .num{
          font-size: 13px;
          margin-left: -6px;
          color: #4e5969;
        }
        .hov:hover{
          color:#007fff;
          .num{
            color:#007fff;
          }
          cursor: pointer;
        }
      }

      .imgContainer {
        padding-top: 15px;
        //background-color: #64FF00;
        img {
          height: 80px;
          width: 120px;
        }
      }
    }
  }
  .content:hover{
    background-color: var(--hover-background-color);
    //background-color: #fafafa;
    cursor:pointer;
  }
}
