/* 初始化样式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    width: fit-content;
    height: fit-content;
}

body, html {
    -webkit-font-smoothing: unset !important;
    font-family: -apple-system, system-ui, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial !important;
}

/* 代码块 */
.markdown-body pre {
    background-color: var(--code-block-background-color) !important;
}

/* 复制成功的弹窗 */
.ant-message-notice-content {
    color: var(--message-notice-color) !important;
    border: var(--message-notice-border) !important;
    background-color: var(--secondary-background-color) !important;
}

/* 悬浮按钮 */
:where(.css-dev-only-do-not-override-1i9hnpv).ant-float-btn-default {
    background-color: var(--secondary-background-color);
}

:where(.css-dev-only-do-not-override-1i9hnpv).ant-float-btn-default .ant-float-btn-body {
    background-color: var(--secondary-background-color);
}

/* Markdown目录选中背景色 */
.markdown-navigation .title-anchor:hover,.markdown-navigation .title-anchor.active {
    background-color: #474e57 !important;
}

/* 目录字体颜色 */
.markdown-navigation .title-level1 ,.markdown-navigation .title-level2 {
    color: rgba(0, 0, 0, 0.88) !important;
}