html[data-theme="light"] {
  --secondary-color: #515767;
  --primary-background-color: #f4f5f5;
  --secondary-background-color: #ffffff;
  --message-notice-color: rgba(0, 0, 0, 0.88);
  --code-block-background-color: #f8f8f8;
  --hover-background-color: #fafafa;
  --view-color: #4e5969;
  --adve-color: rgba(0, 0, 0, .2);
  --adve-border-color: #fff;
}
