html[data-theme="light"] {
  --secondary-color: #515767;
  --primary-background-color: #f4f5f5;
  --secondary-background-color: #ffffff;
  --message-notice-color: rgba(0, 0, 0, 0.88);
  --code-block-background-color: #f8f8f8;
  --card-background-color: #ffffff;
}
